In [ ]:
sq = [x**2 for x in range(5)]
print(sq)

[0, 1, 4, 9, 16]

In [ ]:
sq = [x for x in range(5)]
print(sq)

[0, 1, 2, 3, 4]

In [ ]:
words = ['apple','banana','kiwi']
upp = [word.upper() for word in words]
print(upp)

['APPLE', 'BANANA', 'KIWI']

In [ ]:
# nested list comprehension on 2d matrix to flatten
matrix = [[1,2,3],[4,5,6],[7,8,9]]
flat = [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
matrix = [[1,2],[3,4],[5,6]]
flat = [ num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6]

In [ ]:
# using logical condition , replace all the negative numbers with zeros
nums = [-2 , -1,  0, 1, 2]
nonneg = [x if x>=0 else 0 for x in nums]
print(nonneg)
# we use the syntaxs in list or not
# list have a delimiters like starting and ending ([]) so syntax is not applicable in delimiters

[0, 0, 0, 1, 2]

In [ ]:
words = ['apple','kiwi','banana']
fc = [word[0] for word in words]
print(fc)

['a', 'k', 'b']

In [ ]:
words = ['apple','kiwi','banana']
fc = [len(word) for word in words]
print(fc)

[5, 4, 6]

In [ ]:
# filtering none values
items = [1,None,2,3,None,4,5]
valid = [x for x in items if x is not None]
print(valid)

[1, 2, 3, 4, 5]

In [ ]:
items = [1,None,2,3,None,4,5]
valid = [x for x in items if x is  None]
print(valid)

[None, None]

In [ ]:
# given a string , create a list of all vowels in the string using list comprehensions
text = "hello students Good MorninG"
vowels = [char for char in text if char.lower() in 'aeiouAEIOU']
print(vowels)

['e', 'o', 'u', 'e', 'o', 'o', 'o', 'i']

In [ ]:
n = 3
for i in range(n):
    for j in range(n):
        print('#',end = ' ')
print()

# # # # # # # # #

In [ ]:
x = int(input("enter any value"))
for i in range(x):
    for j in range(x):
        print('*',end = ' ')
    print()

enter any value5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
x = int(input("enter any value"))
for i in range(x):
    for j in range(x):
        if i==0 or j==0 or i==x-1 or j==x-1:
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
x = int(input("enter any value"))
for i in range(x):
    for j in range(x):
        if i==0 or j==0 or i==x-1 or j==x-1 or i==j:
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value5
* * * * *
* *     *
*   *   *
*     * *
* * * * *

In [ ]:
x = int(input("enter any value"))
for i in range(x):
    for j in range(x):
        if j==0 or j==x-1 or i==j  or i+j==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value5
*       *
* *   * *
*   *   *
* *   * *
*       *

In [ ]:
x = int(input("enter any value"))
for i in range(x):
    for j in range(x):
        if i==0 or i==x-1 or i==j  or i+j==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value5
* * * * *
  *   *
    *
  *   *
* * * * *

In [ ]:
x = int(input("enter any value"))
for i in range(x):
    for j in range(x):
        if i==j  or j==0 or i==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value5
*
* *
*   *
*     *
* * * * *

In [ ]:
x = int(input("enter any value"))
for i in range(x):
    for j in range(x):
        if i==j or  i+j==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value5
*       *
  *   *
    *
  *   *
*       *

In [ ]:
x = int(input("enter any value"))
for i in range(x):
    for j in range(x):
        if i==0 or j==0  or i+j==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value5
* * * * *
*     *
*   *
* *
*

In [ ]:
x = int(input("enter any value"))
for i in range(x):
    for j in range(x):
        if i==0 or j==0 or i==x-1 or j==x-1 or i==j  or i+j==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value7
* * * * * * *
* *       * *
*   *   *   *
*     *     *
*   *   *   *
* *       * *
* * * * * * *

In [ ]:
rows = 5
num = 1
for i in range(1, rows+1):
    for j in range(1, i+1):
        print(num, end ='  ')
        num+=1
    print()

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15

In [ ]:
rows = 5
num = 1
for i in range(1, rows+1):
    for j in range(1, i+1):
        print(i, end ='  ')
        i += 1
    print()

1
2  3
3  4  5
4  5  6  7
5  6  7  8  9


**pascals**

In [ ]:
row = 5
for i in range(row):
    for j in range(row-i-1):
        print(" ",end = ' ')
    for k in range (2*i +1):
        print("#",end =' ')
    print()

        #
      # # #
    # # # # #
  # # # # # # #
# # # # # # # # #

In [ ]:
row = 5
for i in range(row):
    for j in range(row-i-1):
        print(" ",end = ' ')
    for k in range (2*i +1):
        print(j,end =' ')
    print()

        3
      2 2 2
    1 1 1 1 1
  0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0

In [ ]:
row = 5
for i in range(row):
    for j in range(row-i-1):
        print(" ",end = ' ')
    for k in range (2*i +1):
        print(i,end =' ')
    print()

        0
      1 1 1
    2 2 2 2 2
  3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4

In [ ]:
row = 5
for i in range(row):
    for j in range(row-i-1):
        print(" ",end = ' ')
    for k in range (2*i +1):
        print(k,end =' ')
    print()

        0
      0 1 2
    0 1 2 3 4
  0 1 2 3 4 5 6
0 1 2 3 4 5 6 7 8

In [ ]:
row = 5
for i in range(row):
    num = 1
    for j in range(row-i-1):
        print(" ",end = ' ')
    for k in range (i +1):
        print(num, end ='   ')
        num = num *(i-k)//(k+1)
    print()

        1
      1   1
    1   2   1
  1   3   3   1
1   4   6   4   1

### program to print alphabets in a lexciographical order (pyramid pattern)
### A->Z

In [ ]:
import string

a = list(string.ascii_uppercase)
i = 0
row = 1
while (row * (row + 1)) // 2 <= len(a):
    row += 1
row -= 1

for r in range(1, row + 1):
    print(' ' * (row - r) + ' '.join(a[i:i+r]))
    i += r

if i < len(a):
    print(' ' * (row - 1) + ' '.join(a[i:]))

     A
    B C
   D E F
  G H I J
 K L M N O
P Q R S T U
     V W X Y Z

** Spiral pattern **

In [ ]:
n=4
matrix= [[0] *n for _ in range(n)]
num=1
top= 0
bottom= n-1
left= 0
right= n-1
while top<=bottom and left <=right:
    for i in range(left, right+1):
        matrix[top][i]= num
        num+=1
    top +=1
    for i in range(top, bottom+1):
        matrix[i][right]= num
        num+=1
    right -=1
    for i in range( right, left-1, -1):
        matrix[bottom][i]= num
        num+=1
    bottom -=1
    for i in range(bottom, top-1, -1):
        matrix[i][left]= num
        num+=1
    left +=1
for row in matrix:
    for val in row:
        print(f"{val:2}", end=' ')
    print()

 1  2  3  4
12 13 14  5
11 16 15  6
10  9  8  7